/* line 1, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
h1 {
  font-weight: bold;
  font-size: calc(2.375rem + 4.5vw);
  line-height: 1;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/* line 9, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
h2 {
  color: white;
  font-size: calc(0.8rem + 1.4vw);
  font-family: 'Montserrat', sans-serif;
  align-items: start;
}

/* line 16, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
h3 {
  font-weight: bold;
  font-size: calc(1rem + 0.5vw);
  line-height: 1;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/* line 24, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.titlle-h3-center {
  text-align: center;
}

/* line 28, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.degrade {
  background: linear-gradient(150deg, #574bcd 15%, #2999ad 30%, #41e976 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* line 35, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.Contenedor {
  background-color: black;
}

/* line 39, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

/* line 43, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.nav-link {
  padding: 2rem 5px;
}

/*index*/
/* line 50, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.container-fluid {
  margin: 100px 50px;
}

/* line 55, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.col-sm {
  border-radius: 10px;
  margin: 50px 50px;
  padding: 20px 20px;
  background: linear-gradient(150deg, #574bcd 15%, #2999ad 30%, #41e976 100%);
}

/* line 63, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.card {
  background: linear-gradient(150deg, #574bcd 0%, #2999ad 50%, #41e976 100%);
  padding: 50px;
}

/*Animaciones*/
/* line 70, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.card-animation {
  transition: transform 0.3s ease;
}

/* line 74, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.card-animation:hover {
  transform: rotate(5deg);
}

/* line 78, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.imagen-fade {
  transition: opacity 0.5s ease;
}

/* line 82, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.imagen-fade:hover {
  opacity: 0.5;
}

/* line 86, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.card-title {
  color: white;
  font-size: calc(0.8rem + 0.8vw);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 600;
}

/* line 95, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.card img {
  width: 70px;
  margin: auto;
  padding-top: 20px;
}

/* line 101, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.card-text {
  color: white;
  font-size: calc(0.5rem + 0.6vw);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.0;
}

/* line 110, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

/* line 117, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* line 124, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.grid-item img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  /* line 132, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 10px;
  }
}

@media (max-width: 716px) {
  /* line 140, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding: 20px;
  }
}

/* line 147, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.py-5 {
  margin: 70px 70px;
}

/* line 151, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
p {
  color: white;
  font-size: calc(0,5rem + 0.8vw);
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  line-height: 1.2;
}

/* line 159, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.row {
  align-items: center;
}

/* line 163, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.titlle-2 {
  font-size: 100px;
  margin-bottom: 90px;
  font-size: calc(2.375rem + 4.5vw);
}

/* line 169, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.col-md-6 {
  padding: 30px;
}

/* line 173, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.col-8 {
  padding: 20px;
  text-align: auto;
}

/*Proyectos*/
/* line 181, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.gallery-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* line 188, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.gallery-logo img {
  max-width: 150px;
  height: auto;
  margin: 20px 50px;
  padding-top: 30px;
}

/* line 196, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.txt-introduccion {
  text-align: center;
}

/*Servicios*/
/* line 202, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.img-servicio {
  width: 200px;
}

/*contacto*/
/* line 209, D:/12.CURSO HTML/PreEntrega3Restrepo/scss/estilos.scss */
.btn-dark {
  margin-top: 20px;
}

/*# sourceMappingURL=estilos.css.map */