.Contenedor{
    background-color: black;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.nav-link{
    padding: 2rem 5px;
}
/*index*/

h1{
    font-weight: bold;
    font-size: calc(2.375rem + 4.5vw);
    line-height: 1;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.text-saludo{
    color: white;
    font-size: calc(0.8rem + 1.4vw);
    font-family: 'Montserrat', sans-serif;
    align-items: start;
}

.degrade{
    background: linear-gradient(150deg, #574bcd 15%, #2999ad 30%, #41e976 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.container-fluid{
    margin: 100px 50px;
    
}



.col-sm{
    border-radius: 10px;
    margin: 50px 50px;
    padding: 20px 20px;
    background: linear-gradient(150deg, #574bcd 15%, #2999ad 30%, #41e976 100%)
    
}

.card{
    background: linear-gradient(150deg, #574bcd 0%, #2999ad 50%, #41e976 100%);
    padding: 50px;

    .card-animation{
        transition: transform 0.3s ease;

        .card-animation:hover {
            transform: rotate(5deg);
        }   
    
    }

}



.card-title{
    color: white;
    font-size: calc(0.8rem + 0.8vw );
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    
}

.card img{
    width: 70px;
    margin: auto;
    padding-top: 20px;
}

.card-text{
    color: white;
    font-size: calc(0.5rem + 0.6vw );
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.0;

}

.title-acerca{
    color: white;
    font-size: calc(1rem + 0.8vw );
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    align-content: center;

}

.text-acerca{
    color: white;
    font-size: calc(0,5rem + 0.8vw );
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    line-height: 1.5;
    

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 40px; 
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.grid-item img {
    max-width: 80%; 
    height: auto;
    border-radius: 10px;
    
}

.imagen-fade{
    transition: opacity 0.5s ease;
}

.imagen-fade:hover {
    opacity: 0.5;
}





@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
        gap: 40px; 
        padding: 10px; 
    }
}

@media (max-width: 716px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr); 
        gap: 40px;
        padding: 20px; 
    }
}

.title-proyectos{
    color: white;
    font-size: calc(1rem + 0.8vw );
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;

}
.py-5{
    margin: 70px 70px;
}

p{
    color: white;
    font-size: calc(0,5rem + 0.8vw );
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    line-height: 1;
    
}

.row{
    align-items: center;
}

.titlle-2{
    font-size: 100px;
    margin-bottom: 90px ;
    font-size: calc(2.375rem + 4.5vw);
}

.col-md-6{
    padding: 30px;
}

.col-8{
    padding: 20px;
    text-align: auto;

}

/*Proyectos*/

.gallery-logo {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}

.gallery-logo img {
    max-width: 100px; 
    height: auto;
    margin: 20px 50px;
    
}


/*Servicios*/



/*contacto*/

.btn-dark{
    margin-top: 20px;
}
